<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Welcome to relative url templates !</h1>
        <!-- In the below line django looks for the app_name variable to match with basic_app and 
        on the right side the 'other' is the name parameter we provide while setting up the urls -->
        <a href="{% url 'basic_app:other'  %}">The other page</a>
        <a href="{% url 'admin:index' %}">LINK TO ADMIN</a>
        <a href="{% url 'index' %}">LINK TO INDEX !</a>
    </body>
</html>